@page
@model DiscGolfWeb.Pages.Account.ProfileModel
@{

    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<div class="row m-2">
        <div class="col-3">
        <label>First Name:</label>
        </div>

    <div class="col-10">
        <label>@Model.ProfileUser.FirstName</label>

    </div>
</div>
<div class="row m-2">

    <div class="col-3">
        <label>Last Name:</label>
    </div>
    <div class="col-10">
        <label>@Model.ProfileUser.LastName</label>

    </div>
 </div>
 <div class="row m-2">
    <div class="col-3">
        <label>Email:</label>
    </div>
    <div class="col-10">
        <label>@Model.ProfileUser.Email</label>

    </div>
 </div>
 <div class="row m-2">
    <div class="col-3">
        <label>Password:</label>
    </div>
    <div class="col-10">
        <label>@Model.ProfileUser.Password</label>

    </div>
 </div>
 <div class="row m-2">
    <div class="col-3">
        <label>Phone:</label>
    </div>
    <div class="col-10">
        <label>@Model.ProfileUser.Phone</label>

    </div>
</div>