@page
@model IndexModel
@{
    // Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
    string layout;
    if (HttpContext.User.Identity.IsAuthenticated)
    {
        if (HttpContext.User.HasClaim("isAdmin", "True"))
        {
            layout = "_AdminLayout"; // Use the admin layout for users with admin privilege
        }
        else
        {
            layout = "_LayoutAuthenticated"; // Use the regular authenticated layout
        }
    }
    else
    {
        layout = "_Layout"; // Use the default layout for unauthenticated users
    }
    Layout = layout;

    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Alien Disc Golf</h1>

    <img src="https://cdn.shopify.com/s/files/1/0538/2455/3132/products/ufodisckmockup-modified_2048x2048.png?v=1651357323" alt="Disc Golf Logo" width="200" height="200">
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

<form method="post" class="form-group">
    <div class="container" id="Items">
        <div class="row m-2"> 
            <div class="col-2"> 
                <label class="form-label">Category</label> 
            </div> 
            <div class="col-3"> 
                <select asp-for="SelectedID" asp-items="Model.Categories" onchange="submitForm()"></select> 
            </div> 
            <div class="col-2"> 
                <label class="form-label">Filter</label> 
            </div> 
            <div class="col-3"> 
                <select asp-for="SelectedFilterID" asp-items="Model.Filters" onchange="submitForm()"></select> 
            </div> 
        </div>

        <div class="col-12">
            <div class="row">
                @foreach (var Item in Model.DiscItems)
                {
                    <div class="col-4" id="item">
                        <img src="@Item.ItemImage" alt="Product Image" width="200" height="200" />
                        <div class="row">
                            <div class="col-6" style="font-size:25px;">
                                <label class="form-label" asp-for="@Item.ItemName">@Item.ItemName</label>
                            </div>
                            
                            
                        </div>
                        <div class="col-6">
                            <label class="form-label" asp-for="@Item.ItemBrand">By @Item.ItemBrand</label>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="col-6">
                                    <label class="form-label" asp-for="@Item.ItemCategory">@Item.itemCategory Disc</label>
                                </div>
                                <label class="form-label">@Item.ItemDescription</label>
                            </div>

                            
                        </div>
                        <div class="col-6" style="font-size:20px; margin-left:75px;">
                            <div class="row">
                                <label class="form-label" asp-for="@Item.ItemPrice">@Item.ItemPrice.ToString("c")</label>
                            </div>
                        </div>
                        <div class="col-6" style="margin-left:54px; padding-bottom:10px;">
                            <div class="row">
                                <a asp-page="EditItem" asp-route-id="@Item.ItemID" id="btnBuy" class="btn btn-primary">Buy Item <i class="bi bi-bag"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<style>
    body {
        background-image: url('https://i.pinimg.com/736x/91/b7/f5/91b7f5e0c42251f849fe21b0332877a8.jpg'); /* Specify 	the URL of your image */

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        background-color: #020F15;
    }

    #Info {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid black;
        padding: 10px;
        height: 350px;
        word-wrap: normal;
    }

    form {
        background-color: rgba(194,219,189,255);
        border: 5px solid rgba(97,130,109,255);
        border-radius: 10px;
        color: rgba(29,50,53,255);
        align-items: center;
        white-space: nowrap;
        max-width: 750px;
        margin: 0 auto;
    }



    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    #btnBuy {
        background-color: rgba(97,130,109,255);
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    h1 {
        text-align: center;
    }

    #filterBar {
        background-color: rgba(194,219,189,255);
        border: 2px solid black;
        border-radius: 10px;
        align-content: center;
        margin: 10px auto;
    }

    #Items {
        background-color: rgba(194,219,189,255);
        border: 2px solid black;
        border-radius: 10px;
        color: rgba(29,50,53,255);
        padding: 25px;
        max-width: 1500px;
        margin: 50px auto;
    }

    #item {
        background-color: rgba(194,219,189,255);
        border: 2px solid black;
        border-radius: 10px;
        align-items: center;
        color: rgba(29,50,53,255);
        max-width: 400px;
        margin: 5px auto;
    } body {
        background-image: url('https://i.pinimg.com/736x/91/b7/f5/91b7f5e0c42251f849fe21b0332877a8.jpg'); /* Specify 	the URL of your image */

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        background-color: #020F15;
    }

    #Info {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid black;
        padding: 10px;
        height: 350px;
        word-wrap: normal;
    }

    form {
        background-color: rgba(194,219,189,255);
        border: 5px solid rgba(97,130,109,255);
        border-radius: 10px;
        color: rgba(29,50,53,255);
        align-items: center;
        white-space: nowrap;
        max-width: 750px;
        margin: 0 auto;
    }



    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    #btnBuy {
        background-color: rgba(97,130,109,255);
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    h1 {
        text-align: center;
    }

    #filterBar {
        background-color: rgba(194,219,189,255);
        border: 2px solid black;
        border-radius: 10px;
        align-content: center;
        margin: 10px auto;
    }

    #Items {
        background-color: rgba(194,219,189,255);
        border: 2px solid black;
        border-radius: 10px;
        color: rgba(29,50,53,255);
        padding: 25px;
        max-width: 1500px;
        margin: 50px auto;
    }

    #item {
        background-color: rgba(194,219,189,255);
        border: 2px solid black;
        border-radius: 10px;
        align-items: center;
        color: rgba(29,50,53,255);
        max-width: 400px;
        margin: 5px auto;
    }


</style>
<script>
    function submitForm() {
        document.getElementById('myForm').submit();
    }
</script>
