@page
@model IndexModel
@{
    // Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
    string layout;
    if (HttpContext.User.Identity.IsAuthenticated)
    {
        if (HttpContext.User.HasClaim("isAdmin", "True"))
        {
            layout = "_AdminLayout"; // Use the admin layout for users with admin privilege
        }
        else
        {
            layout = "_LayoutAuthenticated"; // Use the regular authenticated layout
        }
    }
    else
    {
        layout = "_Layout"; // Use the default layout for unauthenticated users
    }
    Layout = layout;

    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Alien Disc Golf</h1>

    <img src="https://cdn.shopify.com/s/files/1/0538/2455/3132/products/ufodisckmockup-modified_2048x2048.png?v=1651357323" alt="Disc Golf Logo" width="200" height="200">
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

<style>
    body {
        background-image: url('https://i.pinimg.com/736x/91/b7/f5/91b7f5e0c42251f849fe21b0332877a8.jpg'); /* Specify 	the URL of your image */

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        background-color: #020F15;
    }

    #Info {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid black;
        padding: 10px;
        height: 350px;
        word-wrap: normal;
    }

    form {
        background-color: rgba(194,219,189,255);
        border: 5px solid rgba(97,130,109,255);
        border-radius: 10px;
        color: rgba(29,50,53,255);
        align-items: center;
        white-space: nowrap;
        max-width: 750px;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    #btnView, #btnBuy {
        background-color: rgba(97,130,109,255);
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


    h1 {
        text-align: center;
    }

</style>

<form method="post" class="form-group" id="myForm">
    <div class="row m-2">
        <div class="col-2">
            <label class="form-label">Category</label>
        </div>
        <div class="col-3">
            <select asp-for="SelectedID" asp-items="Model.Categories" onchange="submitForm()"></select>
        </div>

        <div class="col-2">
            <label class="form-label">Filter</label>
        </div>
        <div class="col-3">
            <select asp-for="SelectedFilterID" asp-items="Model.Filters" onchange="submitForm()"></select>
        </div>

       
    </div>

    
    @foreach (var Item in Model.DiscItems)
    {
        <div id="Info" class="m-2">
            <div class="col-4">
                <img src="@Item.ItemImage" alt="Product Image" width="200" height="200" />
            </div>
            <div class="col-4">
                <div class="col-2" >
                    <label style="font-size: 24px;" class="form-label" asp-for="@Item.ItemName">@Item.ItemName</label>
                </div>
                <div class="col-2">
                    <label class="form-label" asp-for="@Item.ItemBrand">Manufactured by @Item.ItemBrand</label>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="@Item.ItemCategory">Category: @Item.itemCategory</label>
                </div>
                <div class="col-2">
                    <label class="form-label" asp-for="@Item.ItemPrice">Price: @Item.ItemPrice.ToString("c")</label>
                </div>
            </div>
            <div class="col-4">
                <button asp-route-id="@Item.ItemID" id="btnBuy" class="btn btn-primary">Buy Item <i class="bi bi-bag"></i></button>
            </div>
            <div class="col-5">
                <label class="form-label" asp-for="@Item.ItemDescription">Description:</label>
                <label class="form-label">@Item.ItemDescription</label>
            </div>
        </div>
    }
</form>

<script>
    function submitForm() {
        document.getElementById('myForm').submit();
    }
</script>
